@font-face {
    font-family: 'The-Munday';
    src: url("./assets/The-Munday.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #9bcda1 !important;
}

#li-or-su {
    font-size: 100px;
    font-family: 'The-Munday' !important;
    font-weight: normal;
}
#loginLogo {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 450px;
  height: 35vh;  
  margin-bottom: 20px;
  margin-left: 40px;  
}

#loginForm {
    font: 'The-Munday';
    font-size: 40px;
    width: 500px;
}

#submitButton {
    background-color: #572D0C;
    border-color: #572D0C;
    margin-top: 20px;
}

#li-su-btn {
    font-family:  Arial, Helvetica, sans-serif;
}